
body{ padding:0px; margin:0px 0px; }

td {
    text-align:center;
    background-color:#FFFFFF;
    overflow:hidden;
    line-height:150%;
    font-size:larger; font-family:Arial, Helvetica, sans-serif;
    padding:2px 1px;
}
textarea { width:96%; }
.tl{text-align:left;}
.tr{text-align:right;}

.day1 { 
    font-size:larger; font-family:Arial, Helvetica, sans-serif;
    padding:1rem 3px; 
    position:absolute;
    vertical-align:top;
}
.today { 
    background-color:#FF9;
}
td.day1 i.mark { position:absolute; right:1px; top:0px; font-size:large; }

.spnum, .spnl, .spyue, .spj24{
    display:block;
    white-space:nowrap;
}

.spnum {
    font-weight:bold;
    font-size:larger;
}

.spyue {
    color:#000099;
    border-top:1px solid #666;
}
.spj24 {
    color:#000099;
    font-weight:bold;
    font-size:large;
}

.line1 {
    line-height:60px;
}

fieldset {
    height:100%;
    padding:3px;
}
legend {
    font-weight:bold;
}
.th {
    background-color:#CCCCFF;
    font-weight:bold;
    width:14%;
}
.tNull {
    background-color:#FFFFFF;
}

table.out { border:0px; max-width:720px; min-width:640px; margin:1px auto 0px auto; page-break-after: always; }
div.out { max-width:720px; min-width:640px; margin:1px auto; }
table { width:100%; margin:auto; }
table.c { margin:3rem auto 1rem auto; border:2px solid #333; }
table.c td { border:1px solid #999; position:relative; }
.notes { font-size:small; text-align:left; line-height:150%; }
.notes span{ display:inline; }
.ntitle { color:#666; }
.nitem { display:inline-block; padding:0px 10px; }

table.mtitle { border:0px; padding:0px; margin:0px; }
table.mtitle td { border:0px; font-weight:bold; padding:0px; margin:0px; }

#tab_cover, #tab_set{
    margin-top:20px;
}
#tab_cover td{
    width:18%;
    font-size:72px; 
    color:#FFF;
    text-align:center;
    background:#FF0000;
}
#tab_cover .cbar{
    width:16%;
    color:#FF0000;
    background:#FFF;
    font-size: 56px;
    border:1px solid #FF0000; 
}
#tab_cover .cnote{
    width:16%;
    color:#333;
    background:#FFF;
    font-size: 14px;
    border:1px solid #FF0000; 
}
#tab_cover .img{
    width:65%;
    background:#FFFFFF;
}

@media only screen and (max-width:760px) {
    .th{ font-weight: normal; }
    table.out { width:99%; max-width:99%; min-width:99%; }
    div.out { width:99%; max-width:99%; min-width:99%; }
    table.mtitle td { font-weight: normal; }
}

